<!DOCTYPE html>
<html lang="en">
  <head>
     {% include 'bootstrap.html' %}
     <title>main page</title>
  <style>
    #banner {
      height: 360px;
    width: 90%;
    object-fit:cover;
    margin-bottom: 16px;
    }
  </style>
  </head>
  <body>
    <div class="container">
    {% include 'navbar.html' %}
    <div class = "img-fluid" >
      <img class="rounded mx-auto d-block "  id = "banner" src = "static/levon-vardanyan-_EpaiWp5yC8-unsplash.jpg" height = 320>
    </div>
      
      <h1 class="text-center mt-3 mb-3"> {{company}} Carrers</h1>
       
    <div class= "row" style="margin-bottom:32px">
      <div class = "col-md-6">
      <p  class="lead" >TechGenius Innovations is a cutting-edge technology company dedicated to pushing the boundaries of innovation and excellence. With a passion for creating solutions that make a positive impact, we specialize in AI, Machine Learning, and Data Science. Our team of brilliant minds, comprised of engineers, data scientists, and researchers, works together to solve complex challenges and deliver remarkable outcomes for our clients.</p>
      </div>
      <div class = "d-none d-md-block col-md-6">
        <img class="" src = "static/moujib-aghrout-s9ESRUFnKDg-unsplash.jpg" height = 320>
      </div>
    </div>
      
      <h2 class="text-center"> Open Position </h2>
      
      <div>
        
        {% for job in JOBS%}
        {% include 'jobitems.html' %}
        {% endfor %} 
        
      </div>
            
      <div class="text-center"> 
      <a href = "mailto:jovian@ai?subject=Question%20about%20jovian%20Job%20opening&body=Your%20questions%20%3A"  class="btn btn-primary btn-lg mb-3"> Contact Us </a>
        
      </div>
    
      
      {% include 'footer.html' %}
    </div>
  </body>
</html>
