<div  class = "border-bottom row" style = "margin-bottom:16px; padding-bottom : 8px "> 
  
  <div class = "col-10">
  <h4 style= "color:rgb(120,120,120) ; margin-bottom:4px;"> 
    {{job['title']}}
  </h4>
  <div>
    <b>Location:</b> {{job['location']}}
  </div>
  {% if 'salary' is  in job %}
  <div>
    <b>Salary:</b> {{job['salary']}}
  </div>
  {% endif %}
  </div>
  
  <div class = "col-2 padding-right:16px">
    <a  href = "mailto:jovian@ai?subject=Apply%20for%20&body=My%20Name%20%3A%0D%0AMy%20LinkedIn%20%3A%0D%0AMy%20Resume%20URL%20%3A/" type="button" class="btn btn-outline-primary ">Apply</a>
  </div>
  
</div>